section.youtube#videos
	.flex.flex--space-around
		.col-1
			.video-strip
			.flex-video <iframe src="https://www.youtube.com/embed/mOKIfcMwEV4" frameborder="0" allowfullscreen></iframe>

		.col-1.order-first
			p.home-lead I have a few things on the YouTube you can look at.
			a(href="https://www.youtube.com/user/PrimitivePorn").home-cta Watch on YouTube