section.about#about-me
	.flex.flex--center
		.col-1.push-right
			h2 Mark Mushiva is a creative technologist FREAK,
			p.home-lead making men men things at the weird place
			where art, Hip Hop and computer science meet
				span.akira AKIRA
			a(href="#").cv View my full CV

