section.projects#oprojects
	.flex.flex--center.project-bg
			
		div.container
			div.bar.Bar1
			div.ball
			div.bar.Bar2
						

		.col-4.flex.flex--center
			.col-1
				desc-wrap
					p.home-lead I research applied games and other interactive stuff
					a(href="/projects").home-cta See My Projects