section.about#about-me
	.flex.flex--center
		.col-1.push-right
			h2 Mark Mushiva is a creative technologist.
			p.home-lead He makes things that combine Art, Games, Music and Computer Science.
			a(href="/assets/documents/Resume_short.pdf").cv View my full CV

