section.about#about-me
	.flex.flex--center
		.col-1.push-right
			h2 My biggest influences are,
			p.home-lead The Black aesthetic & Otomo's 1988 cyber-punk thriller 
				span.akira AKIRA
			a(href="#").cv View my full CV

