section.pong#projects
	.flex.flex--center
		div.container  
			div.bar.bar1
			div.ball
			div.bar.bar2

			div#cssSelector
				div.line
					div.square.el


		.col-4.flex.flex--center
			.col-1
				desc-wrap
					p.home-lead I research & dev applied games, electronics, play, and other interactive stuff
					a(href="/projects").home-cta See My Projects
		