---
layout: default
title: MarkMushiva.COM
---


<div class="home-wrap">

	{% include header.html %}

	<div class="home-sections">


		{% include section-about.html %}
		<!-- -->
		{% include section-pong.html %}
		
		{% include section-articles.html %}
		{% include section-youtube.html %}	
		{% include section-soundcloud.html %}
		{% include section-footer.html %}
		<!--{% include section-projects.html %} -->
		

		
		<!-- {% include columns.html %} -->


		<!-- all the home sections here, about me and them ting -->


		<!-- <div style="height: 2000px"> -->



	</div>

</div>

<script type="text/javascript" src="jquery-3.2.1.min.js"></script>
<script src="assets/js/functions.js"></script>
<script src="assets/js/anime.js"></script>
<script src="assets/js/test.js"></script>