<section id="music" class="soundcloud">

  <div class="flex flex--center">

    <div class="col-2">

      <p class="home-lead">

        I made a hip hop album dealing with the themes of blackness and technology.

      </p>

      <div class="soundcloud-content">

        <div class="soundcloud-text">

          <div class="player">

            <iframe


             style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2300681475/size=small/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="https://markmushiva.bandcamp.com/album/turbo-summation">TURBO SUMMATION by Mushiva</a>

              <a href="https://markmushiva.bandcamp.com/album/turbo-summation">

                TURBO SUMMATION by Mushiva

              </a>

            </iframe>

          </div>

        </div>

      </div>

    </div>

  </div>

</section>